.App {
  /* text-align: center; */
  background-image: url("./images/pexels-monstera-6621258.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  gap: 20px;
  padding: 10px;
  /* background-color: red; */
}
.my-photo {
  width: 150px;
  height: 150px;
  /* background-color: blue; */
}
.my-photo img {
  width: 100%;
  border-radius: 100px;
}
.my-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: yellow; */
  flex: 1;
}
.my-info h1 {
  color: navy;
}
.my-contact {
  display: flex;
  flex-direction: column;
}
.about-me {
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
}
.my-education ul {
  display: flex;
  /* background-color: rebeccapurple; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
